# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Backend
backend/target/
backend/*.class
backend/logs/
backend/*.log
backend/help.md
backend/.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.vscode/
*.swp
*.iml
.DS_Store
